<p>
	<strong>Name:</strong>
	<%= @restaurant.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @restaurant.description %>
</p>

<p>
	<strong>Address:</strong>
	<%= @restaurant.address %>ion
</p>

<p>
	<strong>Phone Number:</strong>
	<%= @restaurant.phone %>
</p>